aclocal.m4
autom4te.cache/
config.h.in
config.log
config.status
config/
configure
libtool
Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
_inst/
build/
dist/
src/infrared.egg-info/
__pycache__
.ipynb_checkpoints/

Doc/html/
Doc/latex/
Makefile
PKAlign/
Papers/
RNAPOND/
RNARedPrint-untracked/
RNARedPrint/
TreeDecomp/
cmake_install.cmake
libinfrared.cpython-39-x86_64-linux-gnu.so
varna-api/

Doc/Examples/Alignment.ipynb
Doc/Examples/Automata.ipynb
Doc/Examples/GraphColoring.ipynb
Doc/Examples/MultitargetRNADesign.ipynb
Doc/Examples/NetworkParsimony.ipynb
Doc/Examples/Alignment.md
Doc/Examples/Automata.md
Doc/Examples/GraphColoring.md
Doc/Examples/MultitargetRNADesign.md
Doc/Examples/NetworkParsimony.md

Doc/Examples/Alignment_files
Doc/Examples/Automata_files
Doc/Examples/GraphColoring_files
Doc/Examples/MultitargetRNADesign_files
Doc/Examples/NetworkParsimony_files

Doc/Tutorials/Bookchapter.ipynb
Doc/Tutorials/Bookchapter.md
Doc/Tutorials/Bookchapter_files

Doc/Tutorials/RNA Design.ipynb
Doc/Tutorials/RNA Design.md
Doc/Tutorials/RNA Design_files
